.Signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff; 
  }
  
  .Signup input {
    width: 300px;
    padding: 15px;
    background-color: #f0f0f0; 
    border: none; 
    border-radius: 10px; 
    margin: 15px 0;
  }
  
  .Signup input::placeholder {
    color: #888; 
  }
  
  .Signup input:focus {
    outline: none; 
  }
  
  .Signup button {
    width: 100px;
    padding: 15px;
    background-color: #007bff; 
    color: #ffffff; 
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 30px;
  }
  
  .Signup button:hover {
    background-color: #0056b3; 
  }
  

.Signup .confirm-button {
    padding: 15px;
    background-color: #007bff; 
    color: #ffffff; 
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px; 
  }
  