.login_main{
    box-sizing: border-box;
    margin-top: 10px;
    text-align: center;;
}

.login input {
    background-color: gainsboro;
    font-size: 15px;
    border-radius: 50px 50px;
    padding: 30px 30px;
    margin-bottom: 0px;
    width: 400px;
    margin-top: 50px;
    border-color: gainsboro;
    border: none;
    &::placeholder {
        color: black;
        text-align: center;
      }
}

.login_button {
    margin-top: 50px;
    box-sizing: border-box;
    background-color: gainsboro;
    border: none;
    border-radius: 30px 30px;
    width: 150px;
    height: 50px;
}
