.Login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: bold;
}

.Login .LoginForm{
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding-top: 10px;
}

.Login input{
    flex:1;
    padding:15px;
    border: 1px solid rgb(220,220,220 );
    border-radius: 5px;
    margin-top: 5px;
}

.Login label{
    margin-top: 10px;
}

.Login .LoginBtn{
    cursor:pointer;
    width: 100px;
    height: 40px;
    border: none;
    background: rgb(37,147,255);
    color: white;
    border-radius: 5px;
    margin: 20px auto;
}

.Login .RegisterBtn{
    cursor:pointer;
    width: 100px;
    height: 40px;
    border: none;
    background: rgb(255, 81, 0);
    color: white;
    border-radius: 5px;
    margin: 20px auto;
}

.Login .error{
    color: red;
}
